.container {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right top, #00d2da, #00b8f5, #0098ff, #006eff, #0011ff);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form {
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 30px;
    width: fit-content;
    min-width: 380px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  
  .homelink {
    position: absolute;
    left: 0%;
    top: -20px;
  }
  
  .homelink a {
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  }
  
  .form .heading {
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
  }
  
  .form button {
    border: none;
    outline: none;
    padding: 8px 16px;
    background-color: rgb(116, 215, 255);
    color: #fff;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    transition: 200ms;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
  }
  
  .form button:hover {
    background-color: rgb(27, 190, 255);
  }
  
  .form button:active {
    transform: translateY(1px);
  }
  
  .form button:disabled {
    background-color: gray !important;
  }
  
  .form .error {
    font-size: 0.9rem;
    font-weight: bold;
    color: #f12929;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  
  .form .bottom p {
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
  }
  
  .bottom p a {
    color: rgb(55, 198, 255);
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
  }